*{font-size:12px; font-family:Tahoma,Verdana,Î¢ÈíÑÅºÚ,ÐÂËÎÌå}

fieldset{
	-moz-border-radius: 5px;
}
fieldset input{
	width: 100px;
}
.nav{
	list-style-type:none;
	margin:0px; 
	padding:10px;
}
.nav li{ 
	padding:0px;
	line-height: 26px;
}
.nav li div{
	margin:2px 0px;
	padding-left:10px;
	padding-top:2px; 
}
.nav li div:hover{
	border:1px dashed #99BBE8; 
	background:#E0ECFF;
	cursor:pointer;
}
.li_hover{
	border:1px dashed #99BBE8; 
	background:#E0ECFF;
	cursor:pointer;
}





.icon-menu{
	background:url('../images/icon/menu.png') no-repeat center center;
}
.icon-role{
	background:url('../images/icon/role.png')  no-repeat center center;
}
.icon-user{
	background:url('../images/icon/user.png')  no-repeat center center;
}
.icon-promession{
	background:url('../images/icon/promession.png') no-repeat center center;
}
